*background:		#282f39
*foreground:		#d1d3d8

*color0:      		#1a2227
*color1:      		#cc575d
*color2:      		#51e158
*color3:      		#dae151
*color4:      		#1b559d
*color5:      		#8c57cb
*color6:      		#5294e2
*color7:      		#d1d3d8

*color8:      		#373d48
*color9:      		#dd9296
*color10:     		#91ed96
*color11:     		#e9ed91
*color12:     		#2879dc
*color13:     		#b492dd
*color14:     		#92bbed
*color15:     		#ffffff

urxvt*termName:         rxvt
urxvt*foreground:       #d1d3d8
urxvt*background:       rgba:4000/4700/5700/cccc
urxvt*scrollBar:        false

! -- Xft settings -- !
Xft.dpi:        	96
Xft.antialias:  	true
Xft.rgba:       	rgb
Xft.hinting:    	true
Xft.hintstyle:  	hintfull

! -- Fonts -- !
urxvt.font:		xft:Droid\ Sans\ Mono\ for\ Powerline
urxvt.boldfont:		xft:Droid\ Sans\ Mono\ Bold\ for\ Powerline

!urxvt.transparent:	true
!urxvt.shading:		20
